.layout-container{
    display:flex;
    flex-flow:column;
    background-color:rgb(255, 238, 0);
    font-size: 40px;
}
.flx-main-container{
    display:flex;
    flex-direction: row;
    color:rgb(255, 0, 0);
    justify-content: center;
}
.flx-header{
    display:flex;
    flex-direction: row;
    color:rgb(255, 0, 0);
    justify-content: center;
   
}
.flx-nav, .flx-aside{
display:flex;
flex:1;
flex-direction: column wrap;
background-color: rgb(12, 219, 47);
justify-content: center;
padding:10px;
margin:0px;

}
.flx-article-section{
    display:flex;
    justify-content:center;
    background-color:rebeccapurple;
    padding-bottom:600px;
    padding-left: 400px;
    padding-right: 400px;
}
.flx-aside{
    display:flex;
   display-direction: column;
    background-color:rgb(255, 0, 179);
    color:aqua;
    flex:1;
}
.flx-footer{
    display:flex;
    background-color:rgb(95, 84, 84);
    font-size: 40px;
    justify-content:center;
    color:aliceblue;
}
.btn:hover{
    color:rgb(163, 6, 6);
  
} 
.btn{
    border:1px solid blue;
    padding :20px;
    margin:0px;
    height:70px;
    font-size:30px;
    color:aqua;
    text-align: center;
   
}
.btn:onclick{
background-color:blue;
onclick:cursor(pointer);
}